ul {
    list-style-type: none;
}

.nav-container {
    margin: 10px;
    align-items: center;
}


.nav-container table tr td{
    border: 1px solid black;
    text-align: center;
    width: 1%;
    vertical-align: middle;
}

.logo{
    width: 10%;
    vertical-align: left;
}

.nav-container ul li {
    display: inline;
}

.nav {
}

.nav ul {
    text-align: center;
    vertical-align: middle;
}

.nav li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

ul li {
    display: inline;
}

.search {
    align-items: center;
}
