ul {
    list-style-type: none;
    padding-left: 0;
}

.btn-l {
    padding: 0px 50px;
}

.global-container {
    margin: 10px;
    width: 98.5%;
    background: linear-gradient(#022d50, #13588b);
    /* background: linear-gradient(#313050, #615878); */
    background-size: cover;
}

.nav-container {
    align-items: center;
}


.nav-container table tr td{
    text-align: center;
    width: 30%;
    vertical-align: middle;
}

.logo{
    margin-left: 30px;
    width: 10%;
    float: left;
}

.nav-container ul li {
    display: inline;
}

.input-group {
    align-items: center;
    justify-content: center;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

.A-btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.nav li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

.second-sec {
    padding: 15px 0px;
    background-color: #011b30;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
}

.second-sec tr td a{
    background-color: transparent;
    color: white;
    border: 0px;
}

.second-sec tr td {
    display: inline;
    padding: 0px 100px;
    font-size: 20px;
}

.space {
    margin-top: 62px;
    padding-bottom: 10px;
}

/* today */

.location {
    display: inline-flex;
    width: 100%;
}

.block {
    width: 100%;
    display: inline-flex;
}

.today-weather {
    width: 60%;
    height: auto;
    padding: 20px 0px;
    border-radius: 10px;
    background-color: white;
    background-image: url(/static/icons/night.jpg);
    background-size: cover;
    color: white;
}

.today-weather ul li {
    font-size: 24px;
    text-align: left;
    padding-left: 25px;
}

.today-weather .temp {
    font-size: 64px;
}

/* .today-weather .temp img{
    width: 12%;
} */

.today-weather table tr td{
    font-size: 16px;
    text-align: center;
    width: 10%;
    vertical-align: middle;
}

.weather-news {
    width: 60%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    text-align: left;
}


.weather-news ul li {
    font-size: 24px;
    padding-left: 25px;
}

.weather-news .feels_like {
    font-size: 64px;
}

.weather-news .news-img {
    width: 40%;
    float: right;
}

.weather-news table{
    width: 100%;
}

.weather-news .stats {
    padding-right: 25px;
}

.weather-news table tr td{
    padding: 5px;
    text-align: left;
    font-size: large;
}

.weather-news table tr .value{
    padding: 5px;
    padding-right: 5px;
    text-align: right;
    font-size: large;
}

.astro-news {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
}

.astro-news div table {
    width: 100%;
}

.astro-news div table tr td {
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    text-align: center;
    color: white;
    width: 30%;
}

.astro-news .moon_phase {
    font-size: 40px;
    color: #cfb11a;
    padding-bottom: 10px;
}

.astro-news .moon_illumination {
    font-size: 40px;
    color: #cfb11a;
    padding-bottom: 10px;
}

.astro-news .moon_image {
    width: 50%;
}


/* Hourly */

.weather-news .info {
    padding: 15px 20px;
    font-size: 20px;
}

.weather-news .info p b{
    font-size: 24px;
}

.weather-news .rows_date b{
    padding: 5px 20px;
    font-size: 20px;
}

.accordion-button .hourly-temp {
    font-size: 24px;
}

.accordion-button {
    padding: 16px 10px;
}

.accordion-button table tr td{
    width: 15%;
}

.accordion-button .time{
    text-align: center;
}

.accordion-button .fa-solid {
    padding-right: 5px;
    justify-self: center;
}

.accordion-button .hourly-rain {
    text-align: center;
}

.accordion-button .hourly-rain .heavy-rain{
    padding-right: 5px;
    width: 20%;
}

.accordion-body .hourly-body {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.accordion-body .hourly-body tr td {
    text-align: center;
    width: 30%;
}

.accordion-body .hourly-body .fa-solid {
    padding-right: 5px;
}

.accordion-body .hourly-body .fa-regular {
    padding-right: 5px;
}

.accordion-body .hourly-body .visibility {
    padding-right: 5px;
    width: 13%;
}

.accordion-body .hourly-body .cloud {
    padding-right: 5px;
    width: 13%;
}


/* daily */

.accordion-body .max_min {
    padding: 15px 20px;
    font-size: 30px;
}

.accordion-body .max_min table tr td{
    font-size: 30px;
}

.accordion-body .hourly-body .sun_moon {
    padding-right: 5px;
    width: 13%;
}
