ul {
    list-style-type: none;
}

.global-container {
    margin: 10px;
    width: 98.5%;
    height: 100vh;
    background: linear-gradient(#022d50, #13588b);
    background-size: cover;

}

.nav-container {
    align-items: center;
}


.nav-container table tr td{
    text-align: center;
    width: 30%;
    vertical-align: middle;
}

.logo{
    margin-left: 30px;
    width: 10%;
    float: left;
}

.nav-container ul li {
    display: inline;

}

.nav {
    padding-right: 30px;
    padding-top: 10px;
    float: right;
}

.nav ul {
}

.nav li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

.second-sec {
    padding: 15px 0px;
    background-color: #011b30;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-sec tr {

}

.second-sec tr td {
    display: inline;
    padding: 0px 100px;
    font-size: 20px;
    color: white;
}

.input-group {
    align-items: center;
    justify-content: center;
}
