{% extends "layout.html" %}

{% block title %}
    Hourly
{% endblock %}

{% block main %}
    <div method="GET">
        <div class="location">
            <div class="btn-group" role="group">
                <button type="button" class="btn dropdown-toggle text-white btn-l" data-bs-toggle="dropdown" aria-expanded="false">
                button
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">saved location</a></li>
                <li><a class="dropdown-item" href="#">saved location</a></li>
                </ul>
            </div>
            <button type="button" class="btn text-white"><i class="fa-solid fa-star"></i></button>
        </div>
        <div class="weather-news">
          <div class="info">
            <p><b>Hourly weather:</b> {{ location[0] }}, {{ location[1] }}, {{ location[2] }}</p>
            <p><b>{{ date_time[0] }}</b> {{ date_time[1] }} {{ date_time[2] }} {{ date_time[3] }}</p>
          </div>
          {% for rows in hourly %}
          <hr>
          <div class="rows_date">
            <b>{{ rows.date }}</b>
          </div>
          <hr>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              {% for row in rows['hour'] %}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ row.time }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ row.time }}">
                    <table>
                      <tr>
                        <td class="time">{{ row.time }}</td>
                        <td class="hourly-temp"><b>{{ row.temp_c|int }}°</b></td>
                        <td><img src="{{ row.condition.icon }}">{{ row.condition.text }}</td>
                        <!-- "https://www.flaticon.com/free-icons/heavy-rain" title="heavy-rain icons">Heavy-rain icons created by Saepul Nahwan - Flaticon -->
                        <td class="hourly-rain"><img src="/static/icons/heavy-rain.png" class="heavy-rain">{{ row.chance_of_rain }}</td>
                        <td ><i class="fa-solid fa-wind"></i>{{ row.wind_dir }} {{ row.wind_kph }} Km/h</td>
                      </tr>
                    </table>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapse{{ row.time }}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <div class="hourly-body">
                      <table>
                        <tr><td><i class="fa-solid fa-temperature-quarter"></i>Feels Like</td><td><i class="fa-solid fa-droplet"></i> Humidity</td><td><i class="fa-solid fa-temperature-low"></i>Dew Point</td></tr>
                        <tr><td>{{ row.feelslike_c|int }}°</td><td>{{ row.humidity }}</td><td>{{ row.dewpoint_c|int }}°</td></tr>
                      </table>
                        <hr>
                      <table>
                        <!-- href="https://www.flaticon.com/free-icons/cloud" title="cloud icons">Cloud icons created by Freepik - Flaticon -->
                        <tr><td><i class="fa-regular fa-sun"></i>UV Index</td><td><img src="/static/icons/visibility.png" class="visibility">Visibility</td><td><img src="/static/icons/cloud.png" class="cloud">Cloud Cover</td></tr>
                        <tr><td>{{ row.uv }} of 11</td><td>{{ row.vis_km }}Km</td><td>{{ row.cloud }}%</td></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
