{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div action="/" method="GET">
        <div class="location">
            <div class="btn-group" role="group">
                <button type="button" class="btn dropdown-toggle text-white btn-l" data-bs-toggle="dropdown" aria-expanded="false">
                button
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
            </div>
            <button type="button" class="btn text-white"><i class="fa-solid fa-star"></i></button>
        </div>
        <div class="today-weather">
            <ul>
                <li>Current weather</li>
                <li>{{ date_time[1] }}</li>
                <li class="temp">{{ current[0] }}°</li>
                <li>{{ current[1] }}</li>
            </ul>
            <table>
                <tr>
                    <td>Feels like</td><td>Wind ({{ current[4] }})</td><td>Pressure</td><td>Humidity</td><td>Visibility</td>
                </tr>
                <tr>
                    <td>{{ current[2] }}°</td><td>{{ current[3] }} Km/h</td><td>{{ current[5] }} mb</td><td>{{ current[6] }}%</td><td>{{ current[7] }} Km</td>
                </tr>
            </table>
        </div>
        <div class="weather-news">
            <div>
                <p>max/min temp</p>
                <p>rain chance</p>
                <p>snow chance</p>
                <p>snow_cm</p>
                <p>{{ sunrise }}</p>
                <p>sunset</p>
            </div>
        </div>
        <div class="astro-news">
            <div>
                <table>
                    <tr><td>Moon phase</td><td>{{ date_time[0] }}</td><td>Moon status</td></tr>
                    <tr><td class="moon_phase">{{ astra[4] }}</td><td>{{ date_time[1] }}</td><td class="moon_illumination">{{ astra[5] }}%</td></tr>
                    <tr><td><p>Moonrise: {{ astra[2] }}</p></td><td><img src="static/icons/moon-phase-5.png"></td><td><p>Moonset: {{ astra[3] }}</p></td></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
