
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.nav-link {
    color: #fff;
}

.home{
    min-height: 100vh;
    background-image:url(imgs/2111331.jpg);
    background-size: 100% 100%;
    background-position: center center;
 }

.home .caption{
    color: white;
    text-align: center;
    padding-top: 100px;
}

.home .caption h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 76px;
    padding-top: 150px;
    line-height: 100px;
}

.home .caption p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

}

.breeds {
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-top: 50px;

}

.breeds img{
    width:30%;
    display: inline-block;
}

.breeds .breeds-text {
    display: inline-block;

}

.breeds .breeds-text-h {
    font-size: 28px;
    padding: 250px;

}

.breeds .breeds-text p {
    padding: 20px 0;
    padding-left: 50px;
}






