.header {
    background-color: #746EFC;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.nav-link {
    color: #fff;
}

.breeds {
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-top: 50px;

}

.breeds img{
    width:30%;
    display: inline-block;
}

.breeds .breeds-text {
    display: inline-block;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
h3 {
    font-size: 32px;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.home{
    min-height: 100vh;
    background-image:url(imgs/2111331.jpg);
    background-size: 100% 100%;
    background-position: center center;
 }

.home .caption{
    color: white;
    text-align: center;
    padding-top: 100px;
}

.home .caption h1{
    font-size: 76px;
    padding: 35px 0 35px 0;
}

.home .caption p {
    font-size: 24px;
}

