.header {
    background-color: #746EFC;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.nav-link {
    color: #fff;
}

.row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    display: inline-block;
}

.row img{
    width:30%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
h3 {
    font-size: 32px;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.home{
    min-height: 100vh;
    background-image:url(imgs/cs50-cat.jpg);
    background-size: 100% 100%;
    background-position: center center;
    text-align: center;
 }
