{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div action="/" method="GET">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th><th>Shares</th><th>Price</th><th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for row, price in rows_and_prices %}
                <tr>
                    <td>{{ row.symbol }}</td><td>{{ row.shares }}</td><td>{{ price }}</td><td>total</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
