{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div action="/" method="GET">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th><th>Shares</th><th>Price</th><th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% set i = 0 %}
                {% for rows in stocks %}
                <tr>
                    <td>{{ rows.symbol }}</td><td>{{ rows.shares }}</td><td>{{ prices[i] }}</td><td>total</td>
                </tr>
                {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
